body{
  color: #1b1b1b;
  background-color: #f8f8f8;
  font-family: 'Muli', sans-serif;
}

.item-box{
  display: inline-block;
  margin-right: 1rem;
  background-color: #3f4347;
  color: #f8f8f8;
  text-align: center;
}

nav{
  background-color: #030303
}

.top-bar a{
  text-decoration: none;
  color: #f8f8f8
}

.selected{
  background-color: #BADB73;
}
