/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body{
  font-family: 'Convergence', sans-serif;
  margin: 0 10% 0 10%;
}

h3{
  color: #1eb954
}

.top-bar{
  background-image: url('thatsmyjam.jpg') !important;
  background-position: center;
  background-color: #FFFFFF;
  padding-top: 5rem;
  padding-bottom: 9rem;
  border-radius: 25px;
  margin-top: 2rem
}

.name h1 a{
  font-family: 'Righteous', cursive;
  margin-left: 2rem;
  color: #1eb954 !important;
  font-size: 4rem;
}

.root-container{
  position: absolute;
  width: 100%;
  margin-top: 4rem
}

.row {
  max-width: 150rem;
}

.top-bar-section ul li > a{
  color: #1eb954;
  background-color: #FFFFFF !important;
  font-family: 'Convergence', sans-serif;
}

.top-bar-section ul li > a:hover{
  color: #1eb954 !important;
  font-family: 'Convergence', sans-serif;
  font-size: 1.1rem
}

.highligthed{
  background-color: #2DDD6A;
}

/*    INDEX CONTAINER */

.index-container{
  float: left;
}

.list-container{
  overflow: auto;
  height: 600px;
}

.playlist-tile{
  background: #fff;
  border-radius: 15px;
  margin: 0.5rem;
  padding: 10% 10% 10% 10%;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.playlist-tile.selected{
  background-color: #f4f4f4;
  color: #00A8C6;
  font-size: 1.5rem;
}

.fa-plus,
.fa-times{
  color: #1eb954;
  float: right;
  display: inline-block;
  cursor: pointer;
}

.empty-track-list{
  color: #1eb954;
  font-size: 15rem;
  text-align: center;
}

.index-title,
.playlist-name,
.delete-playlist{
  display: inline-block;
}

/* SHOW CONTAINER */

.track-tile{
  cursor: pointer;
  height: 10%;
  margin: 2rem;
  vertical-align: middle;
}

.playing{
  /* background-color: #1eb954; */
  color: #1eb954
}

.track-list{
  background-color: #f4f4f4;
  overflow: auto;
  height: 600px;
  border-radius: 15px
}

.track-list-container{
  float:left;
}

img{
  padding-right: 1rem
}

.playlist-header-container{
  margin-left: 3rem;
  float: right;
}

.playlist-details{
  margin: 2rem;
}

.sub-title{
  color: #00A8C6;
}

/* NEW PLAYLIST CONTAINER */

.errors-display-container p {
  color: #E32A1C;
  width: 30%
}

.search-bar{
  display: inline-block;
  float:right;
}

.item-box{
  margin-right: 1rem;
  color: #a3aab1;
  cursor: pointer;
  z-index: 2
}

.item-box.selected{
  background-color: #00A8C6;
  color: #FFFFFF;
  height: 30px;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
}

.genres-container{
  overflow: auto;
  height: 100px;
}

.item-box.activity{
  display: inline-block;
}

.activities-container{
  margin: 1rem
}

.selected-genres-container{
  margin:0.5rem
}

button,
input[type=submit]{
  height: 65px;
  border-radius: 35px;
  font-family: 'Convergence', sans-serif;
  outline: 0 none;
}

input[type=submit],
input[type=submit]:focus{
  background-color: #1eb954;
  color: #FFFFFF;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.1rem;
  font-family: 'Convergence', sans-serif;
}

input[type=submit]:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.delete-playlist:hover{
  background-color: #E32A1C;
  color: #FFFFFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.delete-playlist{
  background-color: #E32A1C;
  color: #FFFFFF;
  float: right;
  width: auto;
}

.new-playlist-container{
  padding:5rem;
  border-radius: 2px;
}

.add-to-spotify,
.mark-as-accurate{
  background-color: #1eb954
}

.add-to-spotify:disabled,
.mark-as-accurate:disabled{
  background-color: #f4f4f4;
  color: #000000;
}

.add-to-spotify:disabled:hover,
.mark-as-accurate:disabled:hover{
  background-color: #f4f4f4;
  color: #000000;
  box-shadow: none
}

.add-to-spotify:hover,
.mark-as-accurate:hover{
  background-color: #1eb954;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*   MODAL    */

.form-modal{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.new-playlist-container.visible{
  position:fixed;
  left:45%;
  top:40%;
  transform:translate(-50%, -50%);
  border-radius: 25px;
  background-color:#fff;
  opacity:1;
  width: 40%
}

/*  LOG IN    */

.log-in-container{
  padding-top:5%;
  margin-left: 30%
}
.log-in-form{
  width: 40%;
}

.log-in-form h2{
  font-family: 'Convergence', sans-serif;
}

.actions{
  text-align: center
}

/* PLAYER */

.player-container{
  text-align: center;
  margin-top: 3rem
}

.player{
  text-align: center;
  border-style: solid;
  border-radius: 25px;
  padding-top: 1rem;
  display: inline-block;

}

.player-controls,
.player-controls:focus{
  background-color: #FFFFFF;
  color:#000000;
  font-size: 1.5rem;
  outline: 0 none;
}

.player-controls:hover{
  background-color: #1eb954
}
.player-controls:active{
  background-color: #1eb954;
}

.now-playing{
  background-color: #1eb954;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  display: inline;
  color: #FFFFFF;
}

.now-playing p{
  word-wrap: normal;
  display: inline;
  padding-left: 15rem;
  padding-right: 15rem
}
